<div>
  <h2 id="page-heading" data-cy="MonHocHeading">
    <span jhiTranslate="quanLySinhVienApp.monHoc.home.title">Mon Hocs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="quanLySinhVienApp.monHoc.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mon-hoc"
        [routerLink]="['/mon-hoc/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="quanLySinhVienApp.monHoc.home.createLabel">Thêm mới một Mon Hoc</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (monHocs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="quanLySinhVienApp.monHoc.home.notFound">No Mon Hocs found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenMon">
              <div class="d-flex">
                <span jhiTranslate="quanLySinhVienApp.monHoc.tenMon">Ten Mon</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tyLeDiemQuaTrinh">
              <div class="d-flex">
                <span jhiTranslate="quanLySinhVienApp.monHoc.tyLeDiemQuaTrinh">Ty Le Diem Qua Trinh</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="quanLySinhVienApp.monHoc.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="quanLySinhVienApp.monHoc.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (monHoc of monHocs(); track trackId(monHoc)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/mon-hoc', monHoc.id, 'view']">{{ monHoc.id }}</a>
              </td>
              <td>{{ monHoc.tenMon }}</td>
              <td>{{ monHoc.tyLeDiemQuaTrinh }}</td>
              <td>{{ monHoc.createdAt | formatMediumDatetime }}</td>
              <td>{{ monHoc.updatedAt | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/mon-hoc', monHoc.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/mon-hoc', monHoc.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(monHoc)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (monHocs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
